<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 (Tidy Data)</h3>
    <table class="table table-striped">
      <tr>
        <td>8:30 AM - 10:00 AM</td>
        <td>1. Using Spreadsheet Programs for Data Organization<br>
            2. Formatting Data Tables in Spreadsheets</td>
      </tr>
      <tr>
        <td>10:00 AM - 10:10 AM</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:10 AM - 11:30 AM</td>
        <td>3. Formatting Problems<br>
            4. Dates as Data</td>
      </tr>
      <tr>
        <td>11:30 AM - 12:20 PM</td>
        <td>5. Basic Quality Assurance and Control<br>
            6. Exporting Data from Spreadsheets<br>
            7. Caveats of Popular Data and File Formats</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 (Unix) </h3>
    <table class="table table-striped">
      <tr>
        <td>8:30 AM - 10:00 AM</td>
        <td>1. Introducing the Shell<br>
            2. Navigating Files and Directories</td>
      </tr>
      <tr>
        <td>10:00 AM - 10:10 AM</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:10 AM - 11:30 AM</td>
        <td>3. Working With Files and Directories<br>
            4. Pipes and Filters</td>
      </tr>
      <tr>
        <td>11:30 AM - 12:20 PM</td>
        <td>5. Loops<br>
            6. Shell Scripts<br>
            7. Finding Things</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
 <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 (Git)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 10:00 AM</td>        <!-- time    -->
        <td>
          1. Navigating Git Repositories<br>
          2. Recording Changes to Files
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 AM - 10:10 AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:10 AM - 11:30 AM</td>        <!-- time    -->
        <td>
          3. Viewing the History of Changes<br>
          4. Undoing Changes
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30 AM - 12:20 PM</td>        <!-- time    -->
        <td>
          5. Working with Remotes<br>
          6. Collaborating with Others
        </td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 (SQL)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 10:00 AM</td>        <!-- time    -->
        <td>
          1. Using Databases and SQL<br>
          2. Selecting Data
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 AM - 10:10 AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:10 AM - 11:30 AM</td>        <!-- time    -->
        <td>
          3. Filtering Data<br>
          4. Calculating New Values
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30 AM - 12:20 PM</td>        <!-- time    -->
        <td>
          5. Aggregating Data<br>
          6. Combining Data
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 5 and 6 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5 (Python: Part 1)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 10:00 AM</td>        <!-- time    -->
        <td>
          1. Functions<br>
          2. Libraries
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 AM - 10:10 AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:10 AM - 11:30 AM</td>        <!-- time    -->
        <td>
          3. Reading Tabular Data into DataFrames<br>
          4. Pandas DataFrames
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30 AM - 12:20 PM</td>        <!-- time    -->
        <td>
          5. Plotting
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 6 (Python: Part 1)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 10:00 AM</td>        <!-- time    -->
        <td>
          1. Running and Quitting<br>
          2. Variables and Assignment
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 AM - 10:10 AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:10 AM - 11:30 AM</td>        <!-- time    -->
        <td>
          3. Data Types and Type Conversion<br>
          4. Built-in Functions and Help
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30 AM - 12:20 PM</td>        <!-- time    -->
        <td>
          5. Conditionals<br>
          6. Loops
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 7 and 8 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 7 (R: Part 1)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 10:00 AM</td>        <!-- time    -->
        <td>
          1. Data Frames<br>
          2. Data Manipulation with dplyr
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 AM - 10:10 AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:10 AM - 11:30 AM</td>        <!-- time    -->
        <td>
          3. Data Visualization with ggplot2<br>
          4. Data Reshaping with tidyr
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30 AM - 12:20 PM</td>        <!-- time    -->
        <td>
          5. Summarizing Data<br>
          6. Writing Data to Files
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 8 (R: Part 2)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 10:00 AM</td>        <!-- time    -->
        <td>
          1. Data Structures (Vectors, Factors, Lists)<br>
          2. Data Frames
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 AM - 10:10 AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:10 AM - 11:30 AM</td>        <!-- time    -->
        <td>
          3. Exploring Data Frames<br>
          4. Data Manipulation with dplyr
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30 AM - 12:20 PM</td>        <!-- time    -->
        <td>
          5. Data Visualization with ggplot2<br>
          6. Data Reshaping with tidyr
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 9 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 9 (OpenRefine)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 AM - 10:00 AM</td>        <!-- time    -->
        <td>
          1. Introduction to OpenRefine<br>
          2. Working with OpenRefine Projects
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 AM - 10:10 AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:10 AM - 11:30 AM</td>        <!-- time    -->
        <td>
          3. Faceting and Filtering Data<br>
          4. Clustering and Transformations
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30 AM - 12:20 PM</td>        <!-- time    -->
        <td>
          5. Exporting and Saving Data<br>
          6. Advanced Data Operations
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
